<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beardream.dao.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.beardream.model.Article">
    <id column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="cover_image" jdbcType="VARCHAR" property="coverImage" />
    <result column="is_show" jdbcType="TINYINT" property="isShow" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.beardream.model.Article">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <!-- user表联合article表查询结果集 -->
  <resultMap id="UserArticleResultMap" type="com.beardream.model.UserArticle">
    <id column="user_id" jdbcType="INTEGER" property="userId"/>
    <result column="username" jdbcType="VARCHAR" property="username"/>
    <result column="tel" jdbcType="VARCHAR" property="tel"/>
    <result column="article_id" jdbcType="INTEGER" property="articleId"/>
    <result column="cover_image" jdbcType="VARCHAR" property="coverImage" />
    <result column="is_show" jdbcType="TINYINT" property="isShow" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <!-- 用户和文章连接查询-->
  <select id="findUserArticleBySelective" resultMap="UserArticleResultMap">
    SELECT
    u.user_id,u.username,u.tel,a.article_id,a.cover_image,a.is_show,a.add_time
    FROM t_user u INNER JOIN t_article a on u.user_id=a.user_id
    <where>
      <if test="userId != null">
        and user_id = #{userId}
      </if>
      <if test="username != null">
        and username = #{username}
      </if>
      <if test="tel != null">
        and tel = #{tel}
      </if>
      <if test="articlerId != null">
        and article_id = #{articleId}
      </if>
      <if test="coverImage != null">
        and cover_image = #{coverImage}
      </if>
      <if test="isShow != null">
        and is_show = #{isShow}
      </if>
      <if test="addTime != null">
        and add_time = #{addTime}
      </if>
    </where>
    order by add_time desc
  </select>
  <sql id="Base_Column_List">
    article_id, user_id, cover_image, is_show, add_time
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_article
    where article_id = #{articleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_article
    where article_id = #{articleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.beardream.model.Article">
    insert into t_article (article_id, user_id, cover_image, 
      is_show, add_time, content
      )
    values (#{articleId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{coverImage,jdbcType=VARCHAR}, 
      #{isShow,jdbcType=TINYINT}, #{addTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.beardream.model.Article">
    insert into t_article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        article_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="coverImage != null">
        cover_image,
      </if>
      <if test="isShow != null">
        is_show,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="coverImage != null">
        #{coverImage,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null">
        #{isShow,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.beardream.model.Article">
    update t_article
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="coverImage != null">
        cover_image = #{coverImage,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null">
        is_show = #{isShow,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.beardream.model.Article">
    update t_article
    set user_id = #{userId,jdbcType=INTEGER},
      cover_image = #{coverImage,jdbcType=VARCHAR},
      is_show = #{isShow,jdbcType=TINYINT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.beardream.model.Article">
    update t_article
    set user_id = #{userId,jdbcType=INTEGER},
      cover_image = #{coverImage,jdbcType=VARCHAR},
      is_show = #{isShow,jdbcType=TINYINT},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
</mapper>