<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beardream.dao.BusinessTypeMapper">
  <resultMap id="BaseResultMap" type="com.beardream.model.BusinessType">
    <id column="business_type_id" jdbcType="INTEGER" property="businessTypeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.beardream.model.BusinessType">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    business_type_id, type_name, parent_id, add_time
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_business_type
    where business_type_id = #{businessTypeId,jdbcType=INTEGER}
  </select>
  <select id="findBySelective" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from t_business_type
    <where>
      <if test="businessTypeId != null">
        and business_type_id = #{businessTypeId,jdbcType=INTEGER}
      </if>
      <if test="typeName != null">
        and type_name = #{typeName,jdbcType=VARCHAR}
      </if>
      <if test="parentId != null">
        and parent_id = #{parentId,jdbcType=INTEGER}
      </if>
      <if test="content != null">
        and content = #{content,jdbcType=VARCHAR}
      </if>
      <if test="addTime != null">
        and addtime = #{addTime,jdbcType=VARCHAR}
      </if>
    </where>
    order by add_time desc
  </select>
  <!-- 商家表、商家分类表、标签表查询结果集 -->
  <resultMap id="BusinessBusinessTypeTagResultMap" type="com.beardream.model.BusinessBusinessTypeTag">
    <id column="business_id" jdbcType="INTEGER" property="businessId"/>
    <result column="business_type_id" jdbcType="INTEGER" property="businessTypeId"/>
    <result column="business_id" jdbcType="INTEGER" property="businessId"/>
    <result column="tag_id" jdbcType="VARCHAR" property="tagId"/>
    <result column="name" jdbcType="VARCHAR" property="businessName"/>
    <result column="type_name" jdbcType="VARCHAR" property="businessTypeName"/>
    <result column="address" jdbcType="VARCHAR" property="businessAddress"/>
    <result column="tel" jdbcType="VARCHAR" property="businessTel"/>
    <result column="add_time" jdbcType="VARCHAR" property="addTime"/>
  </resultMap>
  <!-- 连接商家、商家分类、标签-->
  <select id="findBusinessBusinessTypeTagBySelective" resultMap="BusinessBusinessTypeTagResultMap">
    SELECT
    p.business_type_id,p.type_name,
    b.business_id,b.name,b.address,b.tel,b.business_image,b.add_time,
    t.tag_id,t.name
    from t_business_type p
    left outer join t_business b on b.business_id = p.business_type_id
    left outer join t_tag t on p.business_type_id = t.tag_id
    <where>
      <if test="businessId != null">
        and business_id = #{businessId,jdbcType=INTEGER}
      </if>
      <if test="businessTypeId != null">
        and business_type_id = #{businessTypeId,jdbcType=INTEGER}
      </if>
      <if test="tagId != null">
        and tag_id = #{tagId,jdbcType=INTEGER}
      </if>
      <if test="businessName != null">
        and name = #{businessName,jdbcType=VARCHAR}
      </if>
      <if test="businessTypeName != null">
        and type_name = #{businessTypeName,jdbcType=VARCHAR}
      </if>
      <if test="tagName != null">
        and name = #{tagName,jdbcType=VARCHAR}
      </if>
      <if test="businessAddress != null">
        and address = #{businessAddress,jdbcType=VARCHAR}
      </if>
      <if test="businessTel != null">
        and tel = #{businessTel,jdbcType=VARCHAR}
      </if>
      <if test="addTime != null">
        and add_time = #{addTime,jdbcType=TIMESTAMP}
      </if>
    </where>
    order by add_time desc

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_business_type
    where business_type_id = #{businessTypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.beardream.model.BusinessType">
    insert into t_business_type (business_type_id, type_name, parent_id, 
      add_time, content)
    values (#{businessTypeId,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.beardream.model.BusinessType">
    insert into t_business_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="businessTypeId != null">
        business_type_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="businessTypeId != null">
        #{businessTypeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.beardream.model.BusinessType">
    update t_business_type
    <set>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where business_type_id = #{businessTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.beardream.model.BusinessType">
    update t_business_type
    set type_name = #{typeName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where business_type_id = #{businessTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.beardream.model.BusinessType">
    update t_business_type
    set type_name = #{typeName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where business_type_id = #{businessTypeId,jdbcType=INTEGER}
  </update>
</mapper>