<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beardream.dao.DishTypeMapper">
  <resultMap id="BaseResultMap" type="com.beardream.model.DishType">
    <id column="dishtype_id" jdbcType="INTEGER" property="dishtypeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="dish_id" jdbcType="INTEGER" property="dishId" />
    <result column="is_show" jdbcType="TINYINT" property="isShow" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
  </resultMap>
  <sql id="Base_Column_List">
    dishtype_id, type_name, dish_id, is_show, add_time, parent_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_dish_type
    where dishtype_id = #{dishtypeId,jdbcType=INTEGER}
  </select>
  <select id="findBySelective" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from t_dish_type
    <where>
      <if test="dishtypeId != null">
        and dishtype_id = #{dishtypeId,jdbcType=INTEGER}
      </if>
      <if test="typeName != null">
        and type_name = #{typeName,jdbcType=VARCHAR}
      </if>
      <if test="dishId != null">
        and dish_id = #{dishId,jdbcType=VARCHAR}
      </if>
      <if test="isShow!= null">
        and is_show = #{isShow,jdbcType=INTEGER}
      </if>
      <if test="addTime != null">
        and business_image = #{businessImage,jdbcType=VARCHAR}
      </if>
      <if test="isShow != null">
        and is_show = #{isShow,jdbcType=TINYINT}
      </if>
      <if test="addTime != null">
        and add_time = #{addTime,jdbcType=TIMESTAMP}
      </if>
    </where>
    order by add_time desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_dish_type
    where dishtype_id = #{dishtypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.beardream.model.DishType">
    insert into t_dish_type (dishtype_id, type_name, dish_id, 
      is_show, add_time, parent_id
      )
    values (#{dishtypeId,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR}, #{dishId,jdbcType=INTEGER}, 
      #{isShow,jdbcType=TINYINT}, #{addTime,jdbcType=TIMESTAMP}, #{parentId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.beardream.model.DishType">
    insert into t_dish_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dishtypeId != null">
        dishtype_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="dishId != null">
        dish_id,
      </if>
      <if test="isShow != null">
        is_show,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dishtypeId != null">
        #{dishtypeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="dishId != null">
        #{dishId,jdbcType=INTEGER},
      </if>
      <if test="isShow != null">
        #{isShow,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.beardream.model.DishType">
    update t_dish_type
    <set>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="dishId != null">
        dish_id = #{dishId,jdbcType=INTEGER},
      </if>
      <if test="isShow != null">
        is_show = #{isShow,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
    </set>
    where dishtype_id = #{dishtypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.beardream.model.DishType">
    update t_dish_type
    set type_name = #{typeName,jdbcType=VARCHAR},
      dish_id = #{dishId,jdbcType=INTEGER},
      is_show = #{isShow,jdbcType=TINYINT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      parent_id = #{parentId,jdbcType=INTEGER}
    where dishtype_id = #{dishtypeId,jdbcType=INTEGER}
  </update>
</mapper>