<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beardream.dao.FileUploadMapper">
  <resultMap id="BaseResultMap" type="com.beardream.model.FileUpload">
    <id column="file_id" jdbcType="INTEGER" property="fileId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    file_id, url, path, file_name, size, type, add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_file
    where file_id = #{fileId,jdbcType=INTEGER}
  </select>

  <select id="findBySelective" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from t_file
    <where>
      <if test="fileId != null">
        and file_id = #{fileId}
      </if>
      <if test="url != null">
        and url = #{url}
      </if>
      <if test="path != null">
        and path = #{path}
      </if>
      <if test="fileName != null">
        and file_name = #{fileName}
      </if>
      <if test="size != null">
        and size = #{size}
      </if>
      <if test="type != null">
        and type = #{type}
      </if>
      <if test="addTime != null">
        and add_time = #{addTime}
      </if>
    </where>
    order by add_time desc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_file
    where file_id = #{fileId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.beardream.model.FileUpload">
    insert into t_file (file_id, url, path, 
      file_name, size, type, 
      add_time)
    values (#{fileId,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{fileName,jdbcType=VARCHAR}, #{size,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.beardream.model.FileUpload">
    insert into t_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileId != null">
        file_id,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="fileName != null">
        file_name,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileId != null">
        #{fileId,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.beardream.model.FileUpload">
    update t_file
    <set>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where file_id = #{fileId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.beardream.model.FileUpload">
    update t_file
    set url = #{url,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where file_id = #{fileId,jdbcType=INTEGER}
  </update>
</mapper>