<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beardream.dao.TagMapper">
  <resultMap id="BaseResultMap" type="com.beardream.model.Tag">
    <id column="tag_id" jdbcType="INTEGER" property="tagId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="tag_type" jdbcType="TINYINT" property="tagType" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    tag_id, name, content, tag_type, add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </select>
  <select id="findBySelective" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_tag
    <where>
      <if test="tagId != null">
        and tag_id = #{tagId,jdbcType=INTEGER}
      </if>
      <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="content != null">
        and content = #{content,jdbcType=VARCHAR}
      </if>
      <if test="tagType != null">
        and tag_type = #{tagType,jdbcType=TINYINT}
      </if>
      <if test="addTime != null">
        and add_time = #{addTime,jdbcType=TIMESTAMP}
      </if>
    </where>
    ORDER  by add_time DESC
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.beardream.model.Tag">
    insert into t_tag (tag_id, name, content, 
      tag_type, add_time)
    values (#{tagId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{tagType,jdbcType=TINYINT}, #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.beardream.model.Tag">
    insert into t_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tagId != null">
        tag_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="tagType != null">
        tag_type,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tagId != null">
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="tagType != null">
        #{tagType,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.beardream.model.Tag">
    update t_tag
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="tagType != null">
        tag_type = #{tagType,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where tag_id = #{tagId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.beardream.model.Tag">
    update t_tag
    set name = #{name,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      tag_type = #{tagType,jdbcType=TINYINT},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where tag_id = #{tagId,jdbcType=INTEGER}
  </update>
</mapper>