<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beardream.dao.UserCollectionMapper">

  <resultMap id="BaseResultMap" type="com.beardream.model.UserCollection">
    <id column="collection_id" jdbcType="INTEGER" property="collectionId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="business_dish_id" jdbcType="INTEGER" property="businessDishId" />
    <result column="collection_type" jdbcType="TINYINT" property="collectionType" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    collection_id, user_id, business_dish_id, collection_type, add_time
  </sql>
  <select id="findBySelective" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from t_collection
    <where>
      <if test="collectionId != null">
        and collection_id = #{collectionId,jdbcType=INTEGER}
      </if>
      <if test="userId != null">
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="businessDishId != null">
        and business_dish_id = #{businessDishId,jdbcType=INTEGER}
      </if>
      <if test="collectionType != null">
        and collection_type = #{collectionType,jdbcType=TINYINT}
      </if>
      <if test="addTime != null">
        and add_time = #{addTime,jdbcType=TIMESTAMP}
      </if>
    </where>
    order by add_time desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_collection
    where collection_id = #{collectionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.beardream.model.UserCollection">
    insert into t_collection (collection_id, user_id, business_dish_id, 
      collection_type, add_time)
    values (#{collectionId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{businessDishId,jdbcType=INTEGER}, 
      #{collectionType,jdbcType=TINYINT}, #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.beardream.model.UserCollection">
    insert into t_collection
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="collectionId != null">
        collection_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="businessDishId != null">
        business_dish_id,
      </if>
      <if test="collectionType != null">
        collection_type,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="collectionId != null">
        #{collectionId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="businessDishId != null">
        #{businessDishId,jdbcType=INTEGER},
      </if>
      <if test="collectionType != null">
        #{collectionType,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.beardream.model.UserCollection">
    update t_collection
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="businessDishId != null">
        business_dish_id = #{businessDishId,jdbcType=INTEGER},
      </if>
      <if test="collectionType != null">
        collection_type = #{collectionType,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where collection_id = #{collectionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.beardream.model.UserCollection">
    update t_collection
    set user_id = #{userId,jdbcType=INTEGER},
      business_dish_id = #{businessDishId,jdbcType=INTEGER},
      collection_type = #{collectionType,jdbcType=TINYINT},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where collection_id = #{collectionId,jdbcType=INTEGER}
  </update>
</mapper>